<h1>Books</h1>


      <table>
      		<tr>
      			<th>Title</th><th>Body</th>
      		</tr>

        <% @books.each do |book| %>
            <section class="book-text">
            	<tr><th>
            	<%= book.title %></th>
              <th class="category"><%= book.body %></th>
              <th><%= link_to "Show", book_path(book.id) %></th>
              <th><%= link_to "Edit", edit_book_path(book.id) %></th>
              <th><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/book">Destroy</a></th>
             </tr>
            </section>

        <% end %>
      </table>



<h2>New book</h2>
<%= form_for(@book) do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>


<h4>Body</h4>
<textarea name="book[body]" id="book_body"></textarea>
<br>

<%= f.submit 'Create Book' %>

<% end %>